/* Import 960 Grid System */
@import url("960_12_col.css");

/* Import HTML5 Boilerplate CSS */
@import url("boilerplate.css");

/* Import fonts */
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:300,400|PT+Serif:400italic");


.bx-wrapper .bx-controls-direction a
{
    width:41px !important
}
/* Primary styles */
.tagline{
   font-size: 21px;
text-align: justify;
margin-top:36px;
font-family: "Open Sans Condensed", sans-serif;
color: white;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  /* background: rgba(0,0,0,0.4); */
  padding: 8px;
  line-height:1.2;
  font-weight: bold;
padding: 8px;
}

.mybutton{
    background: black;
color: white;
padding: 10px;
}
.cool-block{
    margin:20px;
}

    .carousel-control.left,.carousel-control.right{

           margin-top: 91px;
z-index: 9999999;
font-size: 75px;
background:transparent

        }
        
input[type="checkbox"], input[type="radio"]{
    
    box-shadow: none;
    width:auto;height:auto
}

.black input[type=button] ,button{
    height: 25px;
    padding: 7px 0;
    background: url("../img/menu.png") repeat-x;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5); box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.cool-block{
    margin:20px
}
.nonboxsize{
-webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.error{
    color: #cc3300;
}
.success{
    color: #a9dba9
}

.image_thumbnail{
    padding-left:4px;
    padding-right:4px;
    
}

body {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #333;
    background: #f0f0f0 url("../img/background.png");
}

.page-head{
    display: block;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 60px;
    text-shadow: 0px 1px 2px #000;
    width: 940px;
    margin: 60px auto 70px auto;
    text-shadow: 0px 1px 2px #000;
}

.warning,.message-error{
    color:#aa2808
}

.success,.message-success{
    color: #5C783B
}

form {
}

.ratingbox{
    width:auto;
    border:0px;
    height:auto !important;
    box-shadow:none !important
    
}


input, .textarea, select {
    width: 100%;
    height: 26px;
    margin-bottom: 6px;
    border: 0;
    background-color: #fff;
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5); box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    padding: 7px 5px 6px 5px;
    color: #999;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.grey input, .grey .textarea {
    background-color: #f4f4f4;
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.black input, .black .textarea {
    background: rgba(0,0,0,0.4);
    color:white !important;
    -moz-box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1); -webkit-box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1); box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1);
}
select,select option{
    color:white;
    background: rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1); -webkit-box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1); box-shadow: inset 0px 1px 1px #000, inset 0px -1px 1px rgba(255,255,255,0.1);
}
.no-rgba .black input {
    background: #333;
    border: 1px solid #555;
}
.no-boxshadow input, .no-boxshadow .textarea {
    border: 1px solid #ccc;
    padding-top: 5px;
}
.textarea {
    height: auto;
    padding: 8px;
}
textarea {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 90px;
    background: transparent;
        border:1px solid #666;

    color: #999;
    font-family: "Arial", sans-serif;
    font-size: 11px;
}
body form input[type=submit] {
    height: 30px;
    padding: 9px 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background: url("../img/submit.png") repeat-x;
    -moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3); box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3);
}
input.auto_width[type="submit"] {
    width: auto;
    padding: 0 15px;
}
.black input[type=submit] {
    height: 25px;
    padding: 7px 0;
    background: url("../img/menu.png") repeat-x;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5); box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
input.date, input.datep {
    background: url("../img/calendar.png") 70px center no-repeat;
}
.black input.date, .black input.datep  {
    background: rgba(0,0,0,0.4) url("../img/calendar.png") 70px center no-repeat;
}
.half input.date {
    background-position: 99px center;	
}
.search .half input.date {
    background-position: 103px center;	
}
.third input.date {
    background-position: 60px center;
}
.search .third input.date {
    background-position: 61px center;
}
.filter .half input.date {
    background-position: 79px center;
}
label {
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
   // text-shadow: 0px 1px 1px #fff;
}
.black label {
    font-weight: normal;
    text-shadow: 0px 1px 1px #000;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.simple {
    background: transparent;
    padding: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

hr {
    border: none;
}
hr.dashed {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 2px;
    background: url("../img/separator_dashed.png") repeat-x;
    border: none;
}

h2 {
    display: inline-block;
}
h2 a {
    color: inherit;
}
.section_heading {
    height: 45px;
    background-color: #f2f2f2;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 20px;
}
body section .text_big {
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #fff;
    color: #666;
    margin-bottom: 15px;
}

a {
}
a.next, a.previous {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
    font-weight: bold;
    -moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3); box-shadow: inset 0px -1px 1px rgba(0,0,0,0.3);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
section a.next, section a.previous {
    margin: 0;
}
a.next {
    background: url("../img/next.png") right no-repeat, url("../img/submit.png") repeat-x;
    float: right;
    padding-right: 30px;
}
a.previous {
    background: url("../img/previous.png") left no-repeat, url("../img/submit.png") repeat-x;
    float: left;
    padding-left: 30px;
}
.no-multiplebgs a.next, .no-multiplebgs a.previous {
    background: url("../img/submit.png") repeat-x;
    padding: 0 15px;
}

header {
    background:url('../img/headerbg.jpg') no-repeat;
    height:300px;
    background-size:100% 100% !Important;
    //-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}
#panel {
   // background: rgba(0,0,0,0.4);
    height: 80px;
    line-height: 30px;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
h1 {
    float: left;
    margin-left: 20px;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
    font-size: 42px;
    line-height: 85px;
}
h1 a {
    color: inherit;
}
#panel nav {
    float: right;
    margin-right: 23px;
    text-align: right;
}
ul,ol{
      margin: 1em 0;
  padding: 0 0 0 0px;
}
#panel ul {
    display: inline-block;
}
#panel li {
    display: inline-block;
    padding: 0 0px;
}

#panel li a {
   color: white;
  font-weight: 500;
  font-size: 15px;
text-shadow: none;
background: transparent;
display: inline-block;
padding: 0 26px;
border-radius: 8px;
height: 25px;
line-height: 25px;
}
#panel li:hover a, #panel li .selected {
    background: #eb750e;
    color:white;
    text-decoration:none;
}
#panel li ul {
    line-height: 30px;
    margin-top: -20px;
    position: absolute;
    display: none;
    z-index: 50;
    text-align: left;
    background-color: rgba(51,51,51,0.9);
    opacity: 0;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 1px 1px rgba(255,255,255,0.1); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 1px 1px rgba(255,255,255,0.1); box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 1px 1px rgba(255,255,255,0.1);
    -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s;
}
.no-rgba #panel li ul {
    background-color: #333;
}
#panel li:hover ul {
    display: block;
    opacity: 1;
}
#panel li li {
    display: block;
    padding: 0;
    background: url("../img/menu_separator.png") bottom repeat-x;
}
#panel li li:last-child {
    background: transparent;
}
#panel li:hover li a {
    display: block;
    background: transparent;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 30px 0 10px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s;
}
#panel li li:hover a, #panel li li a.selected {
    background: rgba(255,255,255,0.08);
}
#panel nav form {
    margin-left: 30px;
    display: inline-block;
}
#panel nav input {
    width: 150px;
    background: rgba(0,0,0,0.4) url("../img/search.png") 128px center no-repeat;
}
.no-rgba #panel nav input {
    background: #333 url("../img/search.png") 128px center no-repeat;
}
#panel nav input[type=submit] {
    display: none;
}
header h2 {
    display: block;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 0px;
    text-shadow: 0px 1px 2px #000;
    width: 940px;
    margin: 25px auto 70px auto;
    text-shadow: 0px 1px 2px #000;
}
header h2 .stars {
    display: inline-block;
    line-height: 15px;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: top;
    width: 90px;
}
header h2 .stars img {
    display: block;
    float: left;
    margin-right: 3px;
    vertical-align: middle;
}
header p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    display: block;
    width: 940px;
    margin: -25px auto 45px auto;
    text-shadow: 0px 1px 2px #000;
}
.slider_nav {
    width: 620px;
    position: relative;
    margin: 0 auto;
    z-index: 20;
    top: 170px;
}
.slider_nav a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("../img/slider_buttons.png") top left;
}
.slider_nav .left {
    background-position: 0px -56px;
}
.slider_nav .left:hover {
    background-position: 0 -84px;
}
.slider_nav .right {
    background-position: 0px 0px;
}
.slider_nav .right:hover {
    background-position: 0 -28px;
}
.slider_wrapper {
    width: 620px;
    margin: 0 auto;
    overflow-x: hidden;
 //   margin-top:10px;
}
.homepage_slider {
    padding: 0;
    margin: 0;
    width: 99999px;
    position: relative;
}
.homepage_slider li {
text-align: center;
list-style: none;
float: left;
text-shadow: 0px 1px 5px #000;
}
.homepage_slider h2 {
    width: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.homepage_slider h2 a {
    color: #fff;
}
.homepage_slider h2 strong {
    font-weight: 500;
}
.homepage_slider p {
    width: auto;
    display: inline-block;
}
header:after {
    display: block;
    content: "";
    background: url("../img/header_gradient.png") repeat-x !important;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -250px;
}

.sidebar {
    float: right;
}

.search_lm {
    padding: 0;
}
.search {
    background: url("../img/black_pattern.png");
    float: left;
    width: 100%;
   // height: 325px;
    float: left;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px;
}
.no-boxshadow .search {
    border-width: 0 1px 0 0;
}
.search h2, .search_box h2 {
    margin-bottom: 10px;
  padding: 0px 20px;
  text-align: center;
  height: 34px;
  line-height: 35px;
  display: block;
    background: url("../img/search_header.png") repeat-x;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.7);
}
.search h2 span {
    margin-right: 25px;
    cursor:pointer;
    display: inline-block;
}
.search h2 span.selected, .search h2 span:hover {
    background: url("../img/search_header_selected.png") bottom center no-repeat;
}
.search form, .search_box form {
    margin: 20px;
}
.search form .half {
    width: 125px;
}
.search form .two_thirds {
    width: 167px;
}
.search form .third {
    width: 83px;
}
.search_lm .last_minute {
    width: 100%;
    float: left;
    margin-bottom: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.no-boxshadow .search_lm .last_minute {
    border: none;
    width: 628px;
}

.last_minute {
    padding: 0;
}
.last_minute table {
    width: 100%;
}
.last_minute tr {
    background: url("../img/lm_zebra_1.png") top repeat-x;
    height: 40px;
}
.last_minute tr:nth-child(2n+1) {
    background: url("../img/lm_zebra_2.png") top repeat-x;
}
.last_minute th {
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #999;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    background: #fff;
}
.last_minute td {
    padding: 0 20px;
}
.last_minute td a {
    color: #333;	
}
.last_minute td:first-child {
    font-weight: bold;
}
.last_minute td:last-child {
    color: #cc3300;
    font-weight: bold;
}
.last_minute td del {
    color: #666;
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
}
.last_minute td span {
    color: #666;
    font-weight: normal;
}

.search_box {
    background: url("../img/black_pattern.png");
    float: left;
    padding: 0;
}

article {
    margin-bottom: 20px;
    background: #fff;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
article p {
    display: inline-block;
    text-align: justify;
    margin: 0 20px 20px 20px;
}
article h2 {
    display: block;
    font-size: 17px;
    line-height: 17px;
    margin: 20px 20px 11px 20px;
}
article img {
    width: 100%;
    margin-bottom: 10px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
article .info {
    line-height: 11px;
    margin: 0 20px 20px 20px;
    font-size: 11px;
    color: #999;
}
article .info img {
    margin: 0 10px;
    width: auto;
    vertical-align: middle;
}
.blog {
    background: transparent;
    padding: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.blog article {
    margin-bottom: 20px;
}

.blogpost {
    padding: 0;
    height: auto;
    overflow: hidden;
}
.blogpost article {
    float: left;
    width: 630px;
    border-right: 1px solid #dbdbdb;
    margin: 0;
}
.blogpost .author {
    width: 309px;
    float: left;
    padding: 20px;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
    background-color: #fafafa;
}
.blogpost .author h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
}
.blogpost .author p {
    margin-bottom: 10px;
}

.latest_articles {
    background: transparent;
    padding: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.filter {
    background: url("../img/black_pattern.png");
    text-align: center;
    padding: 30px 0 10px 0;
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.1), 0px 1px 1px #000; -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.1), 0px 1px 1px #000; box-shadow: inset 0px 1px 1px rgba(255,255,255,0.1), 0px 1px 1px #000;
}
.no-boxshadow .filter {
    padding: 10px 8px;
}
.filter form {
    text-align: center;
}
.filter div {
    float: none;
    display: inline-block;
    margin-right: 20px;
    text-align: left;
}
.filter div label {
    margin-top: 0;
}
.filter .last {
    margin-right: 0;
}
.filter .full {
    width: 200px;	
}
.filter .half {
    width: 100px;	
}
.filter input[type="submit"] {
    display: none;
}

.results {
    margin: 0;
    padding: 0;
}
.no-boxshadow .results {
    border: none;
}
.results li {
    list-style: none;
    background-color: #fff;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.6); box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.no-boxshadow .results li {
    border: 1px solid #ccc;
}
.results h3 {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    width:100%;
    text-transform: uppercase;
    color: #666;
    padding: 2px 10px 0 10px;
    margin: 10px 0;
}
.results a {
    color: #666;
}
.results .stars {
    float: right;
    display: inline-block;
    margin-left: 10px;
    height: 13px;
    margin-top: 2px;
    margin: 12px;
    min-width: 60px;
}
.results .stars img {
    display: inline-block;
}
.results .price {
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.results .price strong {
    color: #cc3300;
}
.results div {
    height: 32px;
    line-height: 32px;
    background: url("../img/results_info.png") repeat-x;
    color: #666;
    display: table;
    width: 100%;
    padding: 0 10px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.results li.short div {
    height: 31px;
    -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
}
.results div span {
    border-left: 1px solid #e8e8e8;
    line-height: 15px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.results div span:first-child {
    border: none;
    text-align: left;
}
.results div strong {
    color: #cc3300;
}
.results div a, .results div a:visited {
    color: #666;
}
.results div a:hover {
    color: #333;
}
.results div .stars {
    float: none;
    display: table-cell;
    margin: 0;
    height: 32px;
    line-height: 32px;
}
.results p {
    margin: 10px;
    color: #666;
}
.resutls a {
    overflow: hidden;
}
.results img {
    display: block;
}
.sidebar .results {
}
.sidebar .results h3 {
    padding-left: 0;
    margin-top: 0;
}
.sidebar .results div {
    padding-left: 0;
}

.results_wide {
    padding: 0;
    margin: 0 10px;
}
.results_wide li {
    list-style: none;
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 1px;
    min-height: 170px;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8); box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.results_wide h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    padding: 0;
    margin: 20px 20px 10px 0;
}
.results_wide h3 a {
    color: #666;
}
.results_wide .price {
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.results_wide .price strong {
    color: #cc3300;
}
.results_wide div {
    height: 12px;
    line-height: 12px;
    color: #666;
    width: 100%;
    padding: 0 20px;
    display: block;
}
.results_wide div span {
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    height: 20px;
    line-height: 20px;
}
.results_wide div span:last-child {
    border: none;
}
.results_wide div .boxed {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0;
    color: #fff;
    background: url("../img/patterns/brushed_alu_dark.png");
    text-shadow: 0px 1px 1px #000;
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.results_wide div strong {
    color: #cc3300;
}
.results_wide div a, .results_wide div a:visited {
    color: #666;
}
.results_wide div a:hover {
    color: #333;
}
.results_wide div .boxed a, .results_wide div .boxed a:visited, .results_wide div .boxed a:hover {
    color: #fff;
}
.results_wide .stars {
    min-width: 60px;
}
.results_wide .stars img {
    display: inline-block;
    vertical-align: middle;
}
.results_wide p {
    margin: 20px;
    color: #666;
}
.results_wide .thumb {
    display: block;
    float: left;
    margin-right: 20px;
}
.results_wide .thumb img {
    display: block;
}
.results_wide .price {
    display: block;
    float: right;
    height: 40px;
    line-height: 45px;
    margin: 20px 20px 0 0;
    padding: 0 10px;
    font-size: 23px;
    color: #fff;
    background: url("../img/patterns/brushed_alu_dark.png");
    text-shadow: 0px 1px 2px #000;
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

.gallery {
    padding: 0;
}
.gallery .slider_nav {
    top: 0;
    width: auto;
}
.gallery .slider_nav a {
    position: absolute;
    z-index: 20;
    top: 40px;
    display: inline-block;
    width: 18px;
    height: 28px;
    background: url("../img/gallery_buttons.png") top left;
}
.gallery .slider_nav .left {
    background-position: 0px 0px;
}
.gallery .slider_nav .left:hover {
    background-position: 0 -28px;
}
.gallery .slider_nav .right {
    right: 0;
    background-position: 0px -56px;
}
.gallery .slider_nav .right:hover {
    background-position: 0 -84px;
}
.gallery .slider_wrapper {
    overflow: hidden;
    width: 100%;
    height: 110px;
}
.gallery .slider_content {
    width: 99999px;
    position: relative;
    left: 0;
}
.gallery .slider_content a {
    display: block;
    float: left;
    margin-right: -2px;
}
.gallery .slider_content img {
    width: 150px;
    height: 110px;
}

.description {
    padding: 0;
    margin-bottom: 20px;
}
.table-responsive{
    width:100% !Important
}
.description .main_image {
    float: left;
    display: block;
}
.productpage h1{
    margin-left:0px;
    font-size:28px;
    margin-top:30px
}
.description .main_image img {
    display: block;
}
.description div {
    float: left;
    padding: 15px 20px;
    line-height: 20px;
    height: 20px;
    width: 495px;
  //  border-bottom: 1px dotted #ccc;
}
.description p {
    float: left;
    width: 495px;
    text-align: justify;
    margin: 20px 20px -10px 20px;
}
.hotel_features {
    padding: 0 10px;
}
.hotel_features li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
.hotel_features img {
    vertical-align: middle;
    margin-right: 8px;
}

.text {
    padding: 0;
    background: transparent;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.text h3 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
}
.text p {
    text-align: justify;
}
.text p:last-child {
    margin-bottom: 0;
}
.text hr {
    margin: 30px 0;
}
.address {
    margin-top: 10px;
}
.address span {
    margin-right: 40px;
}
.address span img {
    vertical-align: middle;
    margin-right: 15px;
}
.padded_left {
    padding-left: 10px;
}
.padded_right {
    padding-right: 10px;
}

.map {
    padding: 0;
}
.map img {
    display: block;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.map a:after {
    content: "";
    display: block;
    background: url("../img/plus.png") center no-repeat;
    width: 300px;
    height: 250px;
    margin-top: -250px;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.map a:hover:after {
    opacity: 1;
}
.map a:hover img {
    opacity: 0.8;
}
.contact_map {
    padding: 0;
}
#map {
    height: 300px;
}

.similar_hotels {
    padding: 0;
}
.similar_hotels ul {
    margin: 0;
    padding: 0;
}
.similar_hotels li {
    padding: 8px 20px 14px 20px;
    list-style: none;
    border-bottom: 1px dotted #ccc;
}
.similar_hotels li:last-child {
    border: none;
}
.similar_hotels h3 {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
}
.similar_hotels h3 a {
    color: #666;
}
.similar_hotels .thumb {
    margin: 5px 20px 0 0;
    float: left;
}
.similar_hotels .stars {
    display: inline-block;
    margin-left: 15px;
    height: 13px;
    margin-top: 2px;
}
.similar_hotels .stars img {
    display: inline-block;
}
.similar_hotels div {
    height: 22px;
    line-height: 22px;
    color: #666;
}
.similar_hotels div span {
    border-left: 1px solid #e8e8e8;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.similar_hotels div span:first-child {
    border: none;
    text-align: left;
    padding-left: 0;
}
.similar_hotels div strong {
    color: #cc3300;
}
.similar_hotels div a, .similar_hotels div a:visited {
    color: #666;
}
.similar_hotels div a:hover {
    color: #333;
}
.similar_hotels div .stars {
    margin: 0;
    height: 32px;
    line-height: 32px;
}

.trip_info {
    padding: 0;
}
.trip_info .last_minute {
    height: 205px;
    float: left;
    width: 310px;
    border-right: 1px solid #ccc;
    margin: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.trip_info .quotes {
    height: 205px;
    width: 320px;
    float: left;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
blockquote {
    font-family: "PT Serif", serif;
    font-style: italic;
    text-align: justify;
    color: #666;
    margin: 0;
    padding: 20px 20px 0 20px;
}
.quotes span {
    display: block;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
    color: #999;
    margin: 10px 20px 20px 0;
}
.quotes hr {
    border: none;
    border-bottom: 1px dotted #ccc;
    clear: both;
    margin: 0;
}
.trip_info .text {
    height: 205px;
    float: left;
    width: 310px;
    margin: 0;
    border-left: 1px solid #ccc;
}
.trip_info .text h2 {
    margin-bottom: 20px;
}
.trip_info .text p {
    margin: 0 20px 10px 20px;
}

.about {
    padding-right: 20px;
}

.contact_form {
}
.contact_form form {
    margin-top: 10px;
}
.contact_form .status {
    display: inline-block;
    margin-left: 10px;
}

.categories {
}
.categories ul {
    padding: 0;
    margin: 0;
}
.categories li {
    list-style: none;
}
.categories li:last-child {
    border: none;
}
.categories a {
    color: #333;
    height: 30px;
    line-height: 30px;
    display: block;
    padding-left: 20px;
    background: url("../img/list.png") 5px center no-repeat;
}
.categories a:hover, .categories a.selected {
    background: url("../img/list_hover.png") 5px center no-repeat;
}

.photostream {
}
.photostream ul {
    padding: 0;
    margin: 0;
}
.photostream li {
    display: block;
    margin: 0 11px 11px 0;
    list-style: none;
    float: left;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}
.photostream li:nth-child(3n) {
    margin-right: 0;
}
.photostream img {
    display: block;
}
.photostream .more {
    clear: both;
    color: #333;
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 5px 0 5px 20px;
    border-top: 1px dotted #999;
    background: url("../img/list.png") 5px center no-repeat;
}

.twitter {
}
.twitter ul {
    padding: 0;
    margin: 0;
}
.twitter li {
    list-style: none;
    border-bottom: 1px dotted #999;
}
.twitter p {
    margin: 15px 0;
}
.twitter .more {
    color: #333;
    height: 30px;
    line-height: 30px;
    display: block;
    padding-left: 20px;
    margin-top: 5px;
    background: url("../img/list.png") 5px center no-repeat;
}

.popular {
}
.popular ul {
    padding: 0;
    margin: 0;
}
.popular li {
    list-style: none;
}
.popular h4 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
}
.popular a img {
    float: left;
    margin-right: 20px;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}
.popular .info {
    line-height: 11px;
    margin: 0 20px 20px 20px;
    font-size: 11px;
    color: #666;
}
.popular .info img {
    margin: 0 10px;
    vertical-align: middle;
}

.comments {
    padding-right: 20px;
}
body .comments h3 {
    margin-bottom: 25px;
}
.comments h4 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: px;
}
.comments a img {
    float: left;
    margin-right: 20px;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.7); box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}
.comments .info {
    margin: 5px 20px 20px 20px;
    font-size: 11px;
    color: #666;
    display: block;
}
.comments p {
    clear: both;
    text-align: justify;
}

.faq {
    padding: 0;
}
.faq h2 {
    font-size: 15px;
    height: 55px;
    line-height: 55px;
    -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
}
.faq .left {
    float: left;
    width: 469px;
    border-right: 1px solid #dbdbdb;
}
.faq .right {
    float: left;
    width: 470px;
}
.faq ul {
    margin: 0;
    padding: 0;
}
.faq li {
    list-style: none;
    border-top: 1px solid #dbdbdb;
    padding: 20px;
}
.faq li:first-child {
    border: none;
}
.faq .left li:nth-child(2n), .faq .right li:nth-child(2n+1) {
    background-color: #fafafa;
}
.faq h3 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;	
}
.number {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    margin: -2px 8px 0 -30px;
    background: url("../img/label_grey.png");
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-shadow: 0px 1px 1px #fff;
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.6), inset 0px -1px 1px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.6), inset 0px -1px 1px rgba(0,0,0,0.3); box-shadow: inset 0px 1px 1px rgba(255,255,255,0.6), inset 0px -1px 1px rgba(0,0,0,0.3);
    -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;
}

.image_slider {
    padding: 0;
    position: relative;
    height: 200px;
}
.image_slider img {
    display: block;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.image_slider .slides {
}
.image_slider .slides a {
    position: absolute;
    top: 0px;
}
.image_slider .slides a:after {
    content: "";
    display: block;
    background: url("../img/plus.png") center no-repeat;
    width: 300px;
    height: 200px;
    margin-top: -200px;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.image_slider .slides a:hover:after {
    opacity: 1;
}
.image_slider .slider_nav {
    top: 0;
    width: auto;
}
.image_slider .slider_nav a {
    position: absolute;
    z-index: 20;
    top: 86px;
}
.image_slider .left {
    left: 10px;
}
.image_slider .right {
    right: 10px;
}

.video {
    padding: 0;
}
.video iframe {
    display: block;
    border: none;
    width: 300px;
    height: 200px;
}

.half {
    float: left;
    width: 280px;
    margin-right: 20px;
}
.sidebar .half {
    width: 120px;
}
.simple_sidebar .half {
    width: 140px;
}
.third {
    float: left;
    width: 180px;
    margin-right: 20px;
}
.sidebar .third {
    width: 80px;
}
.two_thirds {
    float: left;
    width: 396px;
    margin-right: 20px;
}
.sidebar .two_thirds {
    width: 160px;
}
.quarter {
    float: left;
    width: 130px;
    margin-right: 20px;
}
.last {
    margin-right: 0;
}

.footer_bottom, .footer_top {
background: url(../../../../../../catalog/view/image/footertop_bg.png) repeat-x top;
height: 24px;
}

.footer_top .social_icons {
text-align: center;
width: 120px;
margin: auto;
}
.footer_top .social_icons a {
  display: block;
  float: left;
  width: 40px;
  height: 28px;
  padding: 2px 8px;
  background: #fff;
}
footer {
    color: white;
    height:  150px;
    background: #2f2f2f !important
}
footer nav {
    margin-top: 12px;
}
footer nav a, footer nav a:visited {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
    color: white;
}
footer .address {
    margin-top: 8px;
    float: right;
    text-align: right;
}
footer .address a, footer .address a:visited {
    color: #666;
}
footer .address a:hover {
    color: #333;
}
footer .address span {
    margin: 0;
}
footer .copyright {
    margin-top: 12px;
}

.with_border {
    position: relative;
    display: block;
}
.with_border span {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid rgba(255,255,255,0.5);
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.blog article .with_border span, .results .with_border span, .latest_articles .with_border span {
    border-width: 0 0 2px 0;
}
.description .with_border span, .results_wide .with_border span {
    border-width: 0 2px 0 0;
}
.with_border img {
    display: block;
}

.modalmask {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('http://i.stack.imgur.com/FhHRx.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalmask {
    display: block;
}