<?php echo $header; ?>
<section>
    <div class='container'>
        <div class='row'>
            <?php if ($error_warning) { ?>
            <div class="warning"><?php echo $error_warning; ?></div>
            <?php } ?>
            <div id="content"><?php echo $content_top; ?>
                <h1><?php echo $heading_title; ?></h1>
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
                    <p><?php echo $text_email; ?></p>
                    <h2><?php echo $text_your_email; ?></h2>
                    <div class="content">
                        <table class="form">
                            <tr>
                                <td><?php echo $entry_email; ?></td>
                                <td><input type="text" name="email" value="" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="buttons">
                        <div class="left"><a href="<?php echo $back; ?>" class="btn btn-primary"><?php echo $button_back; ?></a></div>
                        <div class="right">
                            <input type="submit" value="<?php echo $button_continue; ?>" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<?php echo $footer; ?>