body {

}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.box-heading{
    font-size:22px;
    margin-top:  10px;
    margin-bottom:  10px
}


.box-category{
    list-style: none
}

h1,h2,h3,h4,h5{
    
    margin-top:10px !Important
}

.article-info {
    padding: 18px !Important;
    padding-top: 0px !Important;

}

@media(max-width:378px){
    
    .article-info{
        padding:0px !Important
    }
}

.btn-info{
    
    padding:10px;
    text-decoration:none;
    cursor:pointer
}

.btn-info:hover{
   opacity:0.3
}

.article-title a {
    font-size: 22px;
    text-decoration: none;
    color: #384047;
    font-weight:lighter;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.article-title a:hover {
    color: #d24d23;
}

.article-author a {
    text-decoration: none;
    color: #d24d23;
    font-size: 17px;
}

.bullet {
    color: #384047;
    padding: 0 5px;
    font-size: 17px;
    position: relative;
    top: 1px;
}

.article-date {
    color: #384047;
    font-size: 17px;	
}

.article-comment {
    color: #666;
    font: 16px Helvetica, Arial, sans-serif;
    font-weight: lighter;
    line-height: 1.625;
    text-decoration: none;
}

.article-comment a {
    color: #666;
    font: 16px Helvetica, Arial, sans-serif;
    line-height: 1.625;
    text-decoration: none;
    font-weight: bold;
}

.article-comment a:hover {
    color: #d24d23;
}

.article-sub-title {
    margin-bottom: 20px;
}

.article-image {
    margin-bottom: 20px;

}

.article-description {
    font-size: 14px;
    line-height: 25px;
    font-family: Verdana;
}

.article-description p,.article-description span{
    
    color:#535353 !Important
}

.article-title {
    font-size: 30px;
    text-decoration: none;
    color: #384047;
    font-weight:lighter;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.article-author {
    text-decoration: none;
    color: #d24d23;
    font-size: 17px;
    font-weight: bold;
}

#comments {
    overflow: auto;
    margin-bottom: 20px;
}

.comment-left {
    margin-top: 15px;
}

.article-image img {
    max-width: 100%;
}

.article-thumbnail-image img {
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.article-thumbnail-found {
    margin-bottom: 60px;
}

.article-reply {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.comment-left b{
    
    font-size:14px !important;
}

#your-comment,.reply-div-inner{
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid  #ccc;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.reply-div-inner{
    margin-top:10px;
    border: 1px solid #e0e0e0;
}

.article-reply .author {
    float: left;
    margin-bottom: 20px;
}

.article-reply .comment-date {
    float: right;
    font-size:10px;
    color:#8b8b8b;
    margin-bottom: 20px;
}

.article-reply .text {
    clear: both;
}

.author-info {
    overflow: auto;
}
.author-info > .left {
    float: left;
    margin-right: 15px;
}
.author-info > .left + .right {
    margin-left: 130px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #d24d23;
    font-weight: bold;
}

#header #blog-search {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 298px;
    z-index: 15;
}

#header .button-blog-search {
    position: absolute;
    left: 0px;
    background: url('../image/button-search.png') center center no-repeat;
    width: 28px;
    height: 24px;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
}
#header #blog-search input {
    background: #FFF;
    padding: 1px 1px 1px 33px;
    width: 262px;
    height: 21px;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0px 2px 0px #F0F0F0;
    -moz-box-shadow: 0px 2px 0px #F0F0F0;
    box-shadow: 0px 2px 0px #F0F0F0;
}

.margin-top-21 {
    margin-top: 21px;
}

.module-info {
    overflow: auto;
    border-bottom: 1px dotted #CCCCCC;
}
.module-info > .left {
    float: left;
    margin-right: 15px;
}
.module-info > .left + .right {
    margin-left: 130px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #d24d23;
    font-weight: bold;
}

.related-article-blok-1 {
    display:inline-block;
    width: 48%;
    word-wrap: break-word;
    margin-right: 10px;	
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.related-article-blok-2 {
    display:inline-block;
    width: 48%;
    word-wrap: break-word;	
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.related-article-blok-11 {
    display:inline-block;
    width: 46%;
    word-wrap: break-word;
    margin-right: 10px;	
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.related-article-blok-22 {
    display:inline-block;
    width: 46%;
    word-wrap: break-word;	
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.related-article-blok-1 .name {
    text-align: center;
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 7px;

}

.related-article-blok-1 .name a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.related-article-blok-2 .name {
    text-align: center;
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 7px;

}

.related-article-blok-2 .name a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.related-article-blok-11 .name {
    text-align: center;
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 7px;

}

.related-article-blok-11 .name a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.related-article-blok-22 .name {
    text-align: center;
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 7px;

}

.related-article-blok-22 .name a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.related-article-description {
    overflow: auto;
}
.related-article-description > .left {
    float: left;
    margin-right: 15px;
}
.related-article-description > .left + .right {
    margin-left: 130px;
}

#reply-me{
    
}

.related-article-meta {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
}

.warning{
    color: #d24d23
}
.success{
    color: green
}

#button-comment{
    border:none;
    padding:10px
}

.related-article-button {
    text-align: right;
}

.related-article-footer {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
}

.related-article-footer a {
    text-decoration: none;
}

/* for bootstrap class */

.navbar-inverse {
    min-height: 100px!important;
    background-color: #384047;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width : 767px) {
    .navbar-inverse {
        min-height: 50px!important;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.blog-continue{
    background-color: #e68b2b;
    color: #fff !important;
    border-radius: 15px;
    display: inline-block;
    padding: 2px 15px;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height:26px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    float: right;
    clear: both;
}

.article-description{
    
}

.article-footer{
    border-top:1px; solid #8b8b8b
}

.blog-date,.blog-author{
    display: inline-block;
    width: 22px;
    margin-top:18px;
    height: 20px;
    text-indent: -9999px;
    vertical-align: middle;
    outline: none;
    background-position: left top;
    background-repeat: no-repeat;
    margin-right: 2px;
}

.blog-date{
    background:url('../../../image/blog/meta-date.png') no-repeat;
    background-size: 60%
}

.blog-author{
    margin-top:18px;
    margin-left:0px;
    background:url('../../../image/blog/meta-author.png') no-repeat;
    background-size: 60%
}

time{
    font-size:10px !important;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

time a{
    font-size:10px !important;
}

.comment-text{
    font-size:12px;
    color:#535353;
}