body {
    background:  url('../img/bg_1.jpg') repeat; 

    background-position: top left;

}

    .carousel .carousel-control span{
            background:#<?php echo $this->config->get('config_main_theme') ?> !important
        }

   .video-container {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 30px; height: 0; overflow: hidden;
            }

            .video-container iframe,
            .video-container object,
            .video-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

 #myTab li.active a{
     padding:10px
    }


            .carousel-control.left{

                background:none !important;
                padding-right: 17px !important;

            }


            .carousel-control.right{

                background:none !important;
                padding-right: 17px !important;

            }

p{
    font-size:14px !important;
    color:#999999 !important
    
}

/* Mobile Only */
@media (max-width: 767px) {
     .control-box {
    text-align: center;
    } 
}
/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }
        
h1,h2,h3,h4,h5,p{
       font-family: "Droid Sans" !Important;
}

h1,h2,h3{
           border-bottom: 2px solid  #666

}


            .bx-viewport{
                border:none !important
            }
            
            .bx-wrapper{
                margin:0px !important
            }
            
            .img-circle{
                
                background: grey !important
            }
            
            .img-circle:hover{
                opacity:0.3
                
            }

.brand{
    height:157px !important;
    margin:0 auto !important
}

.navbar{
    margin-bottom:0px !important
}

.travelbox{
    background: white
    
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans";

    text-transform: uppercase;

    letter-spacing: 3px;

    font-weight: 400;

}



p {

    font-size: 1.25em;

    line-height: 1.6;

    color: #000 ;
    font-family: "Droid Sans";

}



hr {

    border-color: #999999;

    max-width: 400px;

}



.brand,

.address-bar {

    //display: none;

}





.navbar-brand {

    text-transform: uppercase;

    letter-spacing: 2px;

    font-weight: 900;

}



.navbar-nav {

    text-transform: uppercase;

    letter-spacing: 3px;

    font-weight: 400;

}



.img-full {

    min-width: 100%;

}



.brand-name {

    font-weight: 700;

    font-size: 1.5em;

    text-transform: capitalize;

    letter-spacing: normal;

}



.tagline-divider {

    margin: 15px auto 3px;

    border-color: #999999;

    max-width: 250px;

}



.box {

    background: #fff;

    background: rgba(255,255,255,0.9);

    margin-bottom: 0px;

   // padding: 0px 15px;

}



.intro-text {

    text-transform: uppercase;

    letter-spacing: 1px;

    font-size: 1.25em;

    font-weight: 400;

}



.img-border {

    float: none;

    margin: 0 auto 0;

    border: #999999 solid 1px;

}



.img-left {

    float: none;

    margin: 0 auto 0;

}



footer {

    background: #fff;

    background: rgba(255,255,255,0.9);

}



footer p {

    margin: 0;


}



@media screen and (min-width: 768px) {



    .brand {

        display: inherit;

        font-size: 5em;

        line-height: normal;

        text-align: center;

        margin: 0;

        padding: 30px 0 10px;

        color: #fff;

    }



    .top-divider {

        margin-top: 0;

    }



    .img-left {

        float: left;

        margin-right: 25px;

    }



    .address-bar {

        display: inherit;

        text-align: center;

        margin: 0;

        padding: 0 0 40px;

        font-size: 1.25em;

        text-transform: uppercase;

        letter-spacing: 3px;

        font-weight: 400;

        color: #fff;

        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    }



    .navbar {

        border-radius: 0;

    }



    .navbar-header {

        display: none;

    }



    .navbar {

        min-height: 0;

    }



    .navbar-default {

        background: #fff;

        background: rgba(255,255,255,0.9);

        border: none;

    }



    .nav>li>a {

        padding: 35px;

    }



    .navbar-nav>li>a {

        line-height: normal;

    }



    .navbar-nav {

        float: none;

        margin: 0 auto;

        display: table;

        table-layout: fixed;

        font-size: 1.25em;

    }



}



@media screen and (min-width: 1200px) {

    .box:after {

        content: '';

        display: table;

        clear: both;

    }

}

#menu-filter-wrap{

    border-top: 1px solid #666;
    margin-top: 15px;
    background-color: #fff;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#menu-item-icon{
    display: block;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #bcbcbc !important;
    padding: 5px 6px;
}