 <h4>Cart</h4>

<div id="woc_checkout_cart">
    
</div>

<br/>
<?php
  if(isset($this->session->data['order_id']))
  {?>
      <?php 
      if($comment){?>
      <h4><?php echo $text_comments; ?></h4>
      <?php echo $comment;?>
      <?php }?>
  <?php
  }
  else
  {?>
  <h5><?php echo $text_comments; ?></h5>
  <textarea class="form-control" name="comment" rows="3" style="width: 98%;"><?php echo $comment; ?></textarea>
  <?php } ?>
  
  
  
  <?php
  if(!isset($this->session->data['order_id']))
  {?>
      <?php if ($text_agree) { ?>
        <div class="buttons">
          <div class="right"><?php echo $text_agree; ?>
            <?php if ($agree) { ?>
            <input type="checkbox" name="agree" value="1" checked="checked" />
            <?php } else { ?>
            <input type="checkbox" name="agree" value="1" />
            <?php } ?>
            <?php if ($error_agree) { ?>
            <div class="error"><?php echo $error_agree; ?></div>
            <?php } ?>
          </div>
        </div>
      <?php }else{ ?>
        <input type="hidden" name="agree" value="1" checked="checked" />
      <?php }?>
  <?php }?>
  <br/>
  <br/>
<?php
if(!isset($this->session->data['order_id']))
{?>
  <input type="submit" value="<?php echo $button_continue;?>" style="" id="button-guest" class="btn btn-primary" />
<?php } ?>

<br/>
  <br/>
