/**
 *	Ajax Quick Checkout theme: iOS
 *
 *	author: Dreamvention
 *	support: http://dreamvention.com/support
 *
 *	contents:
 *	1. remove default styles
 *	2. inputs
 *	3. steps
 */

/**
 *	remove default styles
 */

#quickcheckout .box,
#quickcheckout .box .box-heading,
#quickcheckout .box .box-content{
 	margin:0px;
 	padding: 0px;
 	border-radius: 0px;
 	border: none;
 	background: none;
 	font-weight: normal;
}
#quickcheckout .box .box-heading i,
#quickcheckout .box .box-heading span{
	vertical-align: middle;
}
#quickcheckout .aqc-column > div{
	padding: 0px
}
/**
 *	main
 */

#quickcheckout .block-content{
	background: #f3f3f3
}
#quickcheckout .box{
	border-bottom: 1px solid #c9c9c9;
	padding: 20px 0px 30px 0px;
}

#quickcheckout .box .box-content{
	padding: 5px 20px;
}

#quickcheckout .box .box-heading{
	padding: 5px 20px;
	text-transform: uppercase;
}
#quickcheckout .box .box-heading .wrap{
	padding: 10px;
	border-radius: 15px;
	background: #fff;
	display: inline-block;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	box-sizing:border-box;
}
#quickcheckout .box .box-heading .wrap i{
	margin: 0px;
	display: block;
}
#quickcheckout .box  .box-content .description{
	margin: -25px 0px 16px 64px;
	font-size: 11px;
	color:#777777;
}

/**
 *	inputs
 */
#quickcheckout select,
#quickcheckout input{
	height: 52px;
	border: 1px solid #dbdbdb;
	padding: 10px;
	font-size: 14px;
	background: #fff;
	border-radius: 15px;
	-webkit-appearance:none;
	outline: none;
	color: #313131
}



#quickcheckout label{
	vertical-align: middle;
}


#quickcheckout .error{
	padding: 10px;
}
/* radio-input */
#quickcheckout .radio-input ul{
	margin:2px 0px;
	padding: 0px;
}
#quickcheckout .radio-input label,
#quickcheckout .radio-input{
	margin:0px !important;
}
#quickcheckout .radio-input .radio{
	display: none
}
#quickcheckout .radio-input ul label,
#quickcheckout .radio-input label{
	padding: 10px;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	background: #fff;
	font-size: 14px;
	width: 100% !important;
}
#quickcheckout .radio-input ul li:first-child label,
#quickcheckout .radio-input:first-child label{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#quickcheckout .radio-input ul li:last-child label,
#quickcheckout .radio-input:last-child label{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom: 1px solid #dbdbdb;
}
#quickcheckout .radio-input ul li.checked label,
#quickcheckout .radio-input.checked label{
	color: #875eaa;
}
#quickcheckout .radio-input label.title{
	text-transform: uppercase;
	margin: 15px 0px 10px 5px !important;
	color: #777;
	display: block;
	background: none;
	border:none;
	padding: 0px;
	font-size: 12px;
}
/* text-input */
#quickcheckout .text-input label {
	display: none !important
}
/* select-input */
#quickcheckout .select-input label{
	text-transform: uppercase;
	margin: 15px 0px 10px 5px !important;
	color: #777;
	display: block;
}
#quickcheckout .select-input label .required{
	color: #777
}

 /**
 *	steps: 1 - login
 */

 /**
 *	steps: 2 - payment address
 */

 /**
 *	steps: 3 - shipping address
 */

 /**
 *	steps: 4 - shipping method
 */

 /**
 *	steps: 5 - payment method
 */

 /**
 *	steps: 6 - cart
 */
#quickcheckout .qc-checkout-product table,
#quickcheckout .qc-checkout-product table thead,
#quickcheckout .qc-checkout-product table tbody,
#quickcheckout .qc-checkout-product table tr,
#quickcheckout .qc-checkout-product table tr td{
	border: none !important	
}
#quickcheckout #step_6 .qc-checkout-product table td{
	padding: 10px;
}
#quickcheckout #step_6 .qc-checkout-product thead td{
	text-align: left;
	font-size: 13px;
	color: #4c4c4c;
	padding-bottom:15px;
	border-bottom: 1px solid #c9c9c9 !important	
}
#quickcheckout #step_6 .qc-checkout-product tbody td{
	border-bottom: 1px solid #c9c9c9 !important	
}

#quickcheckout .qc-checkout-product .qc-cart{
	margin: 0px;
}
#quickcheckout #step_6 .qc-checkout-product .qc-image {
	width: 50px;
	padding-left: 20px ;
}
#quickcheckout .qc-checkout-product .qc-image a{
	
	border-radius: 15px;
	display: block;
	background: #fff;
	text-align: center;
	box-sizing: border-box;
	margin: 0px;
}
#quickcheckout #step_6 .qc-checkout-product .qc-image a img{
	width: 50px;
	height: 50px;
	border-radius: 15px;
}
#quickcheckout .qc-checkout-product .qc-name{
	vertical-align: top;
}

#quickcheckout .qc-checkout-product .qc-name a{
	text-decoration: none;;
	color: #323232;
	font-size: 14px;
}
#quickcheckout #step_6 input.qc-product-qantity{
	padding: 5px 0px;
	text-align: center;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 15px;
}
#quickcheckout #step_6 .qc-checkout-product .qc-price,
#quickcheckout #step_6 .qc-checkout-product .qc-model{
	display: none
}

#quickcheckout #step_6 .qc-checkout-product .qc-name-model{
	margin-top: 5px;
}
#quickcheckout #step_6 .qc-checkout-product .qc-name-price{
	margin-top: 3px;
}
#quickcheckout #step_6 .qc-checkout-product .qc-name-price .title,
#quickcheckout #step_6 .qc-checkout-product .qc-name-model .title{
	color: #777777;
}
#quickcheckout #step_6 .qc-checkout-product .qc-name-model .text{
	color: #3f3f3f
}
#quickcheckout #step_6 .qc-quantity{
	min-width: 60px;
	width: 60px;
}
#quickcheckout #step_6 .qc-quantity i{
	display: none
}  

 /**
 *	steps: 7 - payment
 */

 /**
 *	steps: 8 - confirm
 */