<div class="sidey">
                     <ul class="nav">
                            <li><a href="<?php echo $account; ?>"><?php echo $heading_title ?></a>
                                <ul>
                                    <li><a href="<?php echo $edit; ?>"><?php echo $text_edit; ?></a></li>
                                    <li><a href="<?php echo $password; ?>"><?php echo $text_password; ?></a></li>
                                    <li><a href="<?php echo $address; ?>"><?php echo $text_address; ?></a></li>
                                </ul>
                            </li>
                            <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
                            <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
                     </ul>
                  </div>