<?php if (count($currencies) > 1) { ?>
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
  <div id="currency" style='margin-top:12px;color:black'>
    <?php foreach ($currencies as $currency) { ?>
    <?php if ($currency['code'] == $currency_code) { ?>
 <div  class="metromenu col-xs-6">
                <?php echo strtoupper($currency['code']); ?>
            </div>
    <?php } else { ?>
    <div onclick="$('input[name=\'currency_code\']').attr('value', '<?php echo $currency['code']; ?>'); $(this).parent().parent().submit();" class="metromenu-inactive col-xs-6">
                <?php echo strtoupper($currency['code']); ?>
            </div>
    <?php } ?>
    <?php } ?>
    <input type="hidden" name="currency_code" value="" />
    <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
  </div>
</form>
<?php } ?>
