.carousel-content h1, .carousel-content p{
    text-align:center;
    color:white
}

.sidey{
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 10px 30px rgba(0,0,0,.5);

}

.checkin{
    margin-top:10px
}

.room-type{
    background-color:transparent !important;
    color:white;
    border:0px !Important
}

.form-group{
    margin-bottom:0px
}

.ui-highlightschool .ui-state-default{
    background:  #FFD1D1 !important;
    border-color: #FFD1D1 !important;
    color: white !important;
}

.ui-highlightweekend .ui-state-default{
    background:  #51a351 !important;
    border-color: #51a351 !important;
    color: white !important;
}

.ui-highlight .ui-state-default{
    background:  #F8BB00 !important;
    border-color: #F8BB00 !important;
    color: white !important;
}

.ui-highlightpeak .ui-state-default{
    background:  #EE5757 !important;
    border-color: #EE5757 !important;
    color: white !important;
}

.ui-highlightoff .ui-state-default{
    background:  #333 !important;
    border-color: #333 !important;
    color: white !important;
}

.headsearch{
    background:#333;
    color:white;
    padding:4px
}

.noroom{
    color:red
}

.price-hi{
    padding:3px;
    margin:2px;
    background: #5fa816;
    color:white;
    font-size:14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.review-list{
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #fafafa
}

.map-sect{
    padding:20px;
    border:1px solid #f2ab6d;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.book-sect{
    padding:10px;
    color:white;
    font-size:16px;
    background: #f2ab6d;
    border:1px solid #eb750e;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#photostat-option:hover{
    opacity: 0.7
}
#photostat-option h2{
    color:white !Important
}

table td{
    border:1px solid #e0e0e0;
    padding:10px
}

.Highlighted a{
    background-color : Green !important;
    background-image :none !important;
    color: White !important;
    font-weight:bold !important;
    font-size: 12pt;
}

table thead td{
    text-align: center;
    color:white;
    padding:4px;
    font-size:14px;
    background:#222;
}

.polaroid { width:368px; height:376px; background-image:url(../images/polaroid-bg.png); position:absolute; }
.polaroid img { width:335px; height:275px; margin:25px 0 0 15px; }
.polaroid p { text-align:center; font-family:Georgia,serif; font-size:20px; color:#2E2E2E; margin-top:15px; }

.modalajax{
    background: rgba( 255, 255, 255, .8 ) 
        url('http://i.stack.imgur.com/FhHRx.gif') 
        50% 50% 
        no-repeat;
    display:    none;
    position:   fixed;
    z-index:    999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    // overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalajax {
    display: block;
}

#photostat-option .delivery{
    background:#7b90c6;
    text-align: center;
    cursor: pointer
}
#photostat-option .upload{
    background:#f96700;
    text-align: center;
    cursor: pointer

}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.post_reply_comments:before{
    display:none
}

.message-success{
    color: #00aba8;
    margin:10px
}
.message-error{
    color: #9c1010;
    margin:10px

}

.tile{
    cursor:pointer
}

@font-face {
    font-family: 'SEGOEUIL';
    src: url('../fonts/SEGOEUIL.eot');
    src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1409">Text with this font applied</p> */
.fontsforweb_fontid_1409 {
    font-family: 'SEGOEUIL' !important;
}




.single_comments p{
    font-weight: normal;
    font-size:14px
}

img{
    margin:0 auto !important
}

.single_comments img {
    float: left;
    margin-right: 10px !Important;
    margin-top: 5px  !Important;
}


.pagination{
    margin: -4px 0;
    margin-bottom:20px
}

.center h2{
    color:#01558f
}

.no-pad{
    padding:0px !important
}

.navbar-inverse .navbar-nav > .active > a{
    background:white;
    color:#333
}

body > section{
    padding:85px 0;
}

.carousel-content h1{
    font-size:82px;
    margin-bottom:52px
}

#main-slider .prev{
    left:20px
}
#main-slider .next{
    right:20px
}

#main-slider .carousel .slide-margin{
    margin-top: 62px;
}

/*.navbar-header{
    margin-top:-15px;
    position: absolute !Important;
    z-index: 2 !Important
}*/

#bottom h3{
    text-transform:lowercase !important;
    font-size: 25px;

}

.carousel-indicators{
    display:none
}

.navbar-inverse .navbar-nav > li > a{
    text-transform:lowercase !important;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background:white;
    color:#333
}

#main-slider .prev,
#main-slider .next {
    background-color:  #222222;
    border-radius: 20px;
    border: 1px solid white;
}
#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: #005891;

}

ul.sizes .active {
    background: #222222

}
ul.sizes .active {
    background: #222222;
    color:white !Important
}

ul{
    list-style: none;
}

ul.sizes  {
    margin-left: -42px;
}

ul.sizes li {
    background-color: #F2F2F2;
    font-size: 13px;
    height: 40px;
    text-align: center;
    cursor:pointer;
    margin:3px;
    color:black;
    float:left;
    line-height: 30px;
    font-size:14px;
    padding-top:5px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    /* background-image: url(../img/product-options/generic_single.png); */
}


.number {
    background-color: #F2F2F2;
    border: 1px solid #e0e0e0;
    color: #000000 !important;
    float: left;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    margin-right: 4px;
    margin-top: 11px;
    margin-bottom: 15px;
    cursor: pointer;
}
.quant{
    float: left;
    margin-top: 23px;
}


.dynamicTile .col-sm-2.col-xs-4,.dynamicTile .col-sm-4.col-xs-4  {
    padding: 5px;
}

.bigicon {
    font-size: 67px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontext {
    color: white;
    font-size: 18px;
    height:38px;
    line-height: 2.2;
}
.icontext.sub {
    font-size: 14px;
}

.bigicondark {
    font-size: 67px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontextdark {
    color: black;
    font-size: 27px;
}

.dynamicTile .col-sm-4.col-xs-8,.dynamicTile .col-sm-8.col-xs-8 {
    padding: 5px;
}

#tile1 {
    background: #7C91C7;
}

#tile2 {
    background: #3B579D;
}

#tile3 {
    background: #FFF06A;
}

#tile4 {
    background: white;
}


#tile5 {
    background: #EACF46;
}

#tile6 {
    background: #fa6800;
}

#tile7 {
    background: #00aba9;
}

#tile8 {
    background: #C27E3A;
}

#tile9 {
    background: #60a917;
}

#tile10 {
    background: #fa6800;
}
#tile11 {
    background: #A66D89;
}
#tile12 {
    background: #2966B8;
}
#tile13 {
    background: #FF4848;
}


body > section{
    background-size:100%;
}

.panel-heading.active {
    background: #6d7faf;
}

.panel-heading.active a.accordion-toggle i {
    background: #5fa816;
}

#tile20 {
    background: #fa6800;
}
#tile21 {
    background: #e0e0e0;
}

#tile22 {
    background: #4390df;
}

#tile23 {
    background: #00aba8;
}

#tile24 {
    background: #60a917;
}

#tile70 {
    background: #a66d89;
}

.tilecaption {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0!important;
    text-align: center;
    color: white;
    font-family: Segoe UI;
    font-weight: lighter;
}

#blog-landing {
    margin-top: 32px;
    position: relative;
    max-width: 100%;
    //width: 100%;
}
img {
    //  width: 100%;
    max-width: 100%;
    height: auto;
}
.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}
.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}

.teaser{
    color:#222222 !important;
    font-size: 21px;
    text-shadow: 1px 2px 3px #666;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#searchengine{
    background:rgba(0,0,0,0.3);
    padding:8px;
    margin-top:30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
        box-shadow: 0px 10px 30px rgba(0,0,0,.5);

}

.inner-search{
    background:white;
    padding:25px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}


[name=search] {
    outline: none;
}
#livesearch, #livesearch * {
    margin: 0;
    padding: 0;
    list-style: none;
}
#livesearch {
    position: absolute;
    width: 200px;
    top: 0px;
    background: #ffffff;
    z-index: 100;
    box-shadow: 0px 10px 30px rgba(0,0,0,.5);
}
#livesearch li {
    border-top: 1px solid #eeeeee;
}
#livesearch a {
    display: block;
    clear: both;
    overflow: hidden;
    line-height: 25px;
    padding: 10px;
}
#livesearch a:hover, #livesearch li.active a {
    background: #38B0E3;
    color: #ffffff;
}
#livesearch img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

ul {
    margin: 5px;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 22px;
    width: 154%;
    font-size:10px
}
.input-color .color-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}