<?php
if($products)

{

?>

<div class="col-xs-12 col-sm-12 col-md-12 side-bar right-side-bar">
    <div class="side-bar-block detail-block style2 text-center">
        <div class="detail-img text-center">
           <!-- <a href="#"><img src="<?php echo $products[0]['thumb'] ?>" class="img-responsive" alt="detail-img"/></a>-->
            <div class="detail-title">
                <h4><a href="#"><?php echo $products[0]['name'] ?></a></h4>
                <!--<p>Scotland</p> -->
            </div><!-- end detail-title -->

            <!--<span class="detail-price"><h4>$120 <span>/ night</span></h4></span>-->
        </div><!-- end detail-img -->

        <div class="table-responsive">
            <table class="table">
                <tbody>
                   <?php foreach($products[0]['option'] as $option) { ?>
                    <tr>
                        <td><?php echo $option['name'] ?></td>
                        <td><?php echo $option['value'] ?></td>
                    </tr>
                    <?php } ?>
                    <tr>
                        <td>Total</td>
                        <td><?php echo $products[0]['total'] ?></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- end table-responsive -->
    </div><!-- end side-bar-block -->
</div><!-- end columns -->

<!--

<div class="payment"><?php echo $payment; ?></div>-->

<?php } ?>