/* Page */
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
ul, ul li{list-style: none;}
ul.text {margin-bottom: 1em; line-height: 1.5em;}
.text-center {text-align: center;}
body {font: normal 13px Arial, sans-serif;}
h2 {font: normal 26px Arial, sans-serif; padding: 20px 0; margin: 0 0 30px 0;}
.wrap {width: 960px; margin: 0 auto;}
.demo-container {padding: 20px; float: left; width: 260px;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}

.dcjq-count {float: right;}
/* box */
.box {
	margin-bottom: 20px;
}
.kdo-box .kdo-box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}
.kdo-box .kdo-box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}

/* box category */
ul.kdo-category, ul.kdo-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.kdo-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.kdo-category > li {
	padding: 8px 8px 8px 0px;
}
ul.kdo-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.kdo-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.kdo-category > li ul {
	display: none;
}
ul.kdo-category > li a.active {
	font-weight: bold;
}
ul.kdo-category > li a.active + ul {
	display: block;
}
ul.kdo-category > li ul > li {
	padding: 5px 5px 5px 10px;
}
ul.kdo-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.kdo-category > li ul > li > a.active {
	font-weight: bold;
}
ul.kdo-category a:hover {color: #333; font-weight: bold;}