.breadcrumb .a2a_dd {
	float: right;
	padding-right: 10px;
    border: none;
    background: url(../image/share15.png) no-repeat;
    background-position-y: center;
}

.breadcrumb .a2a_dd:hover {
	color:#bc0000;
	background: url(../image/share15R.png) no-repeat;
	text-decoration: underline;
	background-position-y: center;
}

.breadcrumb .a2a_dd span {
    padding-left: 20px;
}