<div class="clearfix"></div>
<ul class="pics">
    <?php $i=0; foreach($banners as $banner){ ?>
    <li><a href="javascript:void(0)" title="<?php echo $banner[title] ?>"><img src="<?php echo $banner[image] ?>" /></a></li>
    <?php $i++; } ?>
</ul><!--pics -->