<?php echo $header; ?>
<section style='margin-top:0px;'  id="video-landing">
    <?php foreach($banners as $product) { ?>
        <iframe style="height:320px" src='https://www.youtube.com/embed/<?php echo $product[link] ?>' frameborder='0' allowfullscreen></iframe>
    <?php } ?>
</section>


<?php echo $footer ?>