	</div>
	<footer><?php echo $text_footer; ?></footer>	
	<script src="view/theme/oma/js/jq.mobi.min.js" type="text/javascript" ></script>		
		<script>window.$ = window.jq;</script>
		<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jq, document)</script>		 		
		<?php if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/js/script.js')) { ?>
		<script type="text/javascript"  src="<?php echo 'view/theme/' . $this->config->get('config_admin_template') ?>/js/script.js"></script>
		<?php } else {?>
		<script type="text/javascript" src="view/theme/oma/js/script.js"></script>
		<?php } ?>
	</body>
</html>