<?php


/*





This file is auto generated from a template file





*/


?>


<?php echo $header; ?>


<div id="content">


<div class="breadcrumb">


  <?php foreach ($breadcrumbs as $breadcrumb) { ?>


  <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>


  <?php } ?>


</div>


<?php if ($error_warning) { ?>


<div class="warning"><?php echo $error_warning; ?></div>


<?php } ?>


<div class="box">


  <div class="heading">


    <h1><img src="view/image/module.png" alt="" /> <?php echo $heading_title; ?></h1>


    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>


  </div>


  <div class="content">


    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">


      <table class="form">


        


        <?php if (FALSE) { ?>


        <!-- {HJ_PRODUCT_SELECTOR}<tr>


          <tr>


          <td><?php //echo $entry_product; ?></td>


          <td><input type="text" name="auto-product" value="" /></td>


        </tr>


        <tr>


          <td>&nbsp;</td>


          <td><div class="scrollbox" id="auto-product">


              <?php $class = 'odd'; ?>


              <?php foreach ($products as $product) { ?>


              <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>


              <div id="auto-product<?php echo $product['product_id']; ?>" class="<?php echo $class; ?>"><?php echo $product['name']; ?> <img src="view/image/delete.png" />


                <input type="hidden" value="<?php echo $product['product_id']; ?>" />


              </div>


              <?php } ?>


            </div>


            <input type="hidden" name="auto_product" value="<?php echo $auto_product; ?>" /></td>


        </tr>


        {/HJ_PRODUCT_SELECTOR} -->


        <?php } ?>


        


        


      </table>


      <table id="module" class="list">


        <thead>


          <tr>


            


            <td class="left">Banner</td>


            <td class="left">Title</td>


            <td class="left">Description</td>


            


            


            <td class="left"><?php echo $entry_image; ?></td>


            <td class="left"><?php echo $entry_layout; ?></td>


            <td class="left"><?php echo $entry_position; ?></td>


            <td class="left"><?php echo $entry_status; ?></td>


            <td class="right"><?php echo $entry_sort_order; ?></td>


            <td></td>


          </tr>


        </thead>


        <?php $module_row = 0; ?>


        <?php foreach ($modules as $module) { ?>


        <tbody id="module-row<?php echo $module_row; ?>">


          <tr>


            


            <td><select name="teaser_module[<?php echo $module_row; ?>][banner_id]" class="span2">


								<?php foreach ($banners as $banner) { ?>


								<?php if ($banner['banner_id'] == $module['banner_id']) { ?>


								<option value="<?php echo $banner['banner_id']; ?>" selected=""><?php echo $banner['name']; ?></option>


								<?php } else { ?>


								<option value="<?php echo $banner['banner_id']; ?>"><?php echo $banner['name']; ?></option>


								<?php } ?>


								<?php } ?>


							</select></td>


            <td class="left"><input type="text" name="teaser_module[<?php echo $module_row; ?>][title]" value="<?php echo $module['title']; ?>" size="20" /></td>


            <td class="left"><input type="text" name="teaser_module[<?php echo $module_row; ?>][description]" value="<?php echo $module['description']; ?>" size="50" /></td>


            


            


            <td class="left"><input type="text" name="teaser_module[<?php echo $module_row; ?>][image_width]" value="<?php echo $module['image_width']; ?>" size="3" />


              <input type="text" name="teaser_module[<?php echo $module_row; ?>][image_height]" value="<?php echo $module['image_height']; ?>" size="3" />


              <?php if (isset($error_image[$module_row])) { ?>


              <span class="error"><?php echo $error_image[$module_row]; ?></span>


              <?php } ?></td>


            <td class="left"><select name="teaser_module[<?php echo $module_row; ?>][layout_id]">


                <?php foreach ($layouts as $layout) { ?>


                <?php if ($layout['layout_id'] == $module['layout_id']) { ?>


                <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>


                <?php } else { ?>


                <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>


                <?php } ?>


                <?php } ?>


              </select></td>


            <td class="left"><select name="teaser_module[<?php echo $module_row; ?>][position]">


                <?php if ($module['position'] == 'content_top') { ?>


                <option value="content_top" selected="selected"><?php echo $text_content_top; ?></option>


                <?php } else { ?>


                <option value="content_top"><?php echo $text_content_top; ?></option>


                <?php } ?>


                <?php if ($module['position'] == 'content_bottom') { ?>


                <option value="content_bottom" selected="selected"><?php echo $text_content_bottom; ?></option>


                <?php } else { ?>


                <option value="content_bottom"><?php echo $text_content_bottom; ?></option>


                <?php } ?>


                <?php if ($module['position'] == 'column_left') { ?>


                <option value="column_left" selected="selected"><?php echo $text_column_left; ?></option>


                <?php } else { ?>


                <option value="column_left"><?php echo $text_column_left; ?></option>


                <?php } ?>


                <?php if ($module['position'] == 'column_right') { ?>


                <option value="column_right" selected="selected"><?php echo $text_column_right; ?></option>


                <?php } else { ?>


                <option value="column_right"><?php echo $text_column_right; ?></option>


                <?php } ?>


              </select></td>


            <td class="left"><select name="teaser_module[<?php echo $module_row; ?>][status]">


                <?php if ($module['status']) { ?>


                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>


                <option value="0"><?php echo $text_disabled; ?></option>


                <?php } else { ?>


                <option value="1"><?php echo $text_enabled; ?></option>


                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>


                <?php } ?>


              </select></td>


            <td class="right"><input type="text" name="teaser_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>


            <td class="left"><a onclick="$('#module-row<?php echo $module_row; ?>').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>


          </tr>


        </tbody>


        <?php $module_row++; ?>


        <?php } ?>


        <tfoot>


          <tr>


            <td colspan="6"></td>


            <td class="left"><a onclick="addModule();" class="button"><span><?php echo $button_add_module; ?></span></a></td>


          </tr>


        </tfoot>


      </table>


    </form>


  </div>


</div>


<?php if (FALSE) { ?>


{HJ_PRODUCT_SELECTOR}


<script type="text/javascript"><!--


$('input[name=\'product\']').autocomplete({


	delay: 0,


	source: function(request, response) {


		$.ajax({


			url: 'index.php?route=catalog/product/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),


			dataType: 'json',


			success: function(json) {		


				response($.map(json, function(item) {


					return {


						label: item.name,


						value: item.product_id


					}


				}));


			}


		});


		


	}, 


	select: function(event, ui) {


		$('#auto-product' + ui.item.value).remove();


		


		$('#auto-product').append('<div id="auto-product' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" /><input type="hidden" value="' + ui.item.value + '" /></div>');





		$('#auto-product div:odd').attr('class', 'odd');


		$('#auto-product div:even').attr('class', 'even');


		


		data = $.map($('#auto-product input'), function(element){


			return $(element).attr('value');


		});


						


		$('input[name=\'auto_product\']').attr('value', data.join());


					


		return false;


	}


});





$('#auto-product div img').live('click', function() {


	$(this).parent().remove();


	


	$('#auto-product div:odd').attr('class', 'odd');


	$('#auto-product div:even').attr('class', 'even');





	data = $.map($('#auto-product input'), function(element){


		return $(element).attr('value');


	});


					


	$('input[name=\'auto_product\']').attr('value', data.join());	


});


//--></script> 


{/HJ_PRODUCT_SELECTOR}


<?php } ?>


<script type="text/javascript"><!--


var module_row = <?php echo $module_row; ?>;





function addModule() {	


	html  = '<tbody id="module-row' + module_row + '">';


	html += '  <tr>';


	


	html += '<td><select name="teaser_module[' + module_row + '][banner_id]" class="span2">';


	<?php foreach ($banners as $banner) { ?>


	html += '<option value="<?php echo $banner['banner_id']; ?>"><?php echo addslashes($banner['name']); ?></option>';


	<?php } ?>


	html += '</select></td>';


	html += '    <td class="left"><input type="text" name="teaser_module[' + module_row + '][title]" value="" size="20" /></td>';


	html += '    <td class="left"><input type="text" name="teaser_module[' + module_row + '][description]" value="" size="50" /></td>';


	


	


	html += '    <td class="left"><input type="text" name="teaser_module[' + module_row + '][image_width]" value="80" size="3" /> <input type="text" name="teaser_module[' + module_row + '][image_height]" value="80" size="3" /></td>';		


	html += '    <td class="left"><select name="teaser_module[' + module_row + '][layout_id]">';


	<?php foreach ($layouts as $layout) { ?>


	html += '      <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>';


	<?php } ?>


	html += '    </select></td>';


	html += '    <td class="left"><select name="teaser_module[' + module_row + '][position]">';


	html += '      <option value="content_top"><?php echo $text_content_top; ?></option>';


	html += '      <option value="content_bottom"><?php echo $text_content_bottom; ?></option>';


	html += '      <option value="column_left"><?php echo $text_column_left; ?></option>';


	html += '      <option value="column_right"><?php echo $text_column_right; ?></option>';


	html += '    </select></td>';


	html += '    <td class="left"><select name="teaser_module[' + module_row + '][status]">';


    html += '      <option value="1" selected="selected"><?php echo $text_enabled; ?></option>';


    html += '      <option value="0"><?php echo $text_disabled; ?></option>';


    html += '    </select></td>';


	html += '    <td class="right"><input type="text" name="teaser_module[' + module_row + '][sort_order]" value="" size="3" /></td>';


	html += '    <td class="left"><a onclick="$(\'#module-row' + module_row + '\').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>';


	html += '  </tr>';


	html += '</tbody>';


	


	$('#module tfoot').before(html);


	


	module_row++;


}


//--></script>


<?php echo $footer; ?>