<?php echo $header; ?>

<div id="content">

  <div class="breadcrumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>

    <?php } ?>

  </div>

  <?php if ($error_warning) { ?>

  <div class="warning"><?php echo $error_warning; ?></div>

  <?php } ?>

  <div class="box">

    <div class="heading">

      <h1><img src="view/image/report.png" alt="" /> <?php echo 'BISNES Description'; ?></h1>

      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><?php echo $button_cancel; ?></a></div>

    </div>

    <div class="content">

      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">

        <div class="vtabs">

          <?php $module_row = 1; ?>


          <?php foreach ($modules as $module) { ?>
            <?php if(($module_row == 2 && $this->config->get('config_marketingmodule')) || $module_row == 1){ ?>
            <a <?php //if($this->user->getUserType() != 1){ echo 'style="visibility:hidden"'; } ?> href="#tab-module-<?php echo $module_row; ?>" id="module-<?php echo $module_row; ?>"><?php echo $tab_module . ' ' . $module_row; ?>&nbsp;<img  src="view/image/delete.png" alt="" onclick="$('.vtabs a:first').trigger('click'); $('#module-<?php echo $module_row; ?>').remove(); $('#tab-module-<?php echo $module_row; ?>').remove(); return false;" /></a>
          <?php } ?>
          <?php $module_row++; ?>

          <?php } ?>


          <span  id="module-add"><?php echo $button_add_module; ?>&nbsp;<img   src="view/image/add.png" alt="" onclick="addModule();" /></span> </div>

        <?php $module_row = 1; ?>

        <?php foreach ($modules as $module) { ?>

        <div id="tab-module-<?php echo $module_row; ?>" class="vtabs-content">

          <div <?php if (count($languages) == 1) echo 'hidden="true" '; ?>id="language-<?php echo $module_row; ?>" class="htabs">

            <?php foreach ($languages as $language) { ?>

            <a href="#tab-language-<?php echo $module_row; ?>-<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>

            <?php } ?>

          </div>

          <?php foreach ($languages as $language) { ?>

          <div id="tab-language-<?php echo $module_row; ?>-<?php echo $language['language_id']; ?>">

            <table class="form">

              <tr>

                <td><?php echo $entry_description; ?><textarea name="welcome_module[<?php echo $module_row; ?>][description][<?php echo $language['language_id']; ?>]" id="description-<?php echo $module_row; ?>-<?php echo $language['language_id']; ?>"><?php echo isset($module['description'][$language['language_id']]) ? $module['description'][$language['language_id']] : ''; ?></textarea></td><!--MX-->


              </tr>

            </table>

          </div>

          <?php } ?>

          <table  class="form">

            <tr >

              <td><?php echo $entry_layout; ?></td>

              <td><select name="welcome_module[<?php echo $module_row; ?>][layout_id]">

                  <?php foreach ($layouts as $layout) { ?>

                  <?php if ($layout['layout_id'] == $module['layout_id']) { ?>

                  <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>

                  <?php } else { ?>

                  <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>

                  <?php } ?>

                  <?php } ?>

                </select></td>

            </tr>

            <tr >

              <td><?php echo $entry_position; ?></td>

              <td><select name="welcome_module[<?php echo $module_row; ?>][position]">

                  <?php if ($module['position'] == 'content_top') { ?>

                  <option value="content_top" selected="selected"><?php echo $text_content_top; ?></option>

                  <?php } else { ?>

                  <option value="content_top"><?php echo $text_content_top; ?></option>

                  <?php } ?>

                  <?php if ($module['position'] == 'content_bottom') { ?>

                  <option value="content_bottom" selected="selected"><?php echo $text_content_bottom; ?></option>

                  <?php } else { ?>

                  <option value="content_bottom"><?php echo $text_content_bottom; ?></option>

                  <?php } ?>

                  <?php if ($module['position'] == 'column_left') { ?>

                  <option value="column_left" selected="selected"><?php echo $text_column_left; ?></option>

                  <?php } else { ?>

                  <option value="column_left"><?php echo $text_column_left; ?></option>

                  <?php } ?>

                  <?php if ($module['position'] == 'column_right') { ?>

                  <option value="column_right" selected="selected"><?php echo $text_column_right; ?></option>

                  <?php } else { ?>

                  <option value="column_right"><?php echo $text_column_right; ?></option>

                  <?php } ?>

                </select></td>

            </tr>

            <tr>

              <td><?php echo $entry_status; ?></td>

              <td><select name="welcome_module[<?php echo $module_row; ?>][status]">

                  <?php if ($module['status']) { ?>

                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>

                  <option value="0"><?php echo $text_disabled; ?></option>

                  <?php } else { ?>

                  <option value="1"><?php echo $text_enabled; ?></option>

                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>

                  <?php } ?>

                </select></td>

            </tr>

            <tr >

              <td><?php echo $entry_sort_order; ?></td>

              <td><input type="text" name="welcome_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>

            </tr>

          </table>

        </div>

        <?php $module_row++; ?>

        <?php } ?>

      </form>

    </div>

  </div>

</div>

<script type="text/javascript" src="view/javascript/ckeditor/ckeditor.js"></script>

<script type="text/javascript"><!--

<?php $module_row = 1; ?>

<?php foreach ($modules as $module) { ?>

<?php foreach ($languages as $language) { ?>

CKEDITOR.replace('description-<?php echo $module_row; ?>-<?php echo $language['language_id']; ?>', {

	filebrowserBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

	filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

	filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

	filebrowserUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

	filebrowserImageUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

	filebrowserFlashUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>'

});

<?php } ?>

<?php $module_row++; ?>

<?php } ?>

//--></script>

<script type="text/javascript"><!--

var module_row = <?php echo $module_row; ?>;



function addModule() {

	html  = '<div id="tab-module-' + module_row + '" class="vtabs-content">';

	html += '  <div <?php if (count($languages) == 1) echo 'hidden="true" '; ?>id="language-' + module_row + '" class="htabs">';

    <?php foreach ($languages as $language) { ?>

    html += '    <a href="#tab-language-'+ module_row + '-<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>';

    <?php } ?>

	html += '  </div>';



	<?php foreach ($languages as $language) { ?>

	html += '    <div id="tab-language-'+ module_row + '-<?php echo $language['language_id']; ?>">';

	html += '      <table class="form">';

	html += '        <tr>';

		html += '          <td><?php echo $entry_description; ?><textarea name="welcome_module[' + module_row + '][description][<?php echo $language['language_id']; ?>]" id="description-' + module_row + '-<?php echo $language['language_id']; ?>"></textarea></td>'; // MX


	html += '        </tr>';

	html += '      </table>';

	html += '    </div>';

	<?php } ?>



	html += '  <table class="form">';

	html += '    <tr>';

	html += '      <td><?php echo $entry_layout; ?></td>';

	html += '      <td><select name="welcome_module[' + module_row + '][layout_id]">';

	<?php foreach ($layouts as $layout) { ?>

	html += '           <option value="<?php echo $layout['layout_id']; ?>"><?php echo addslashes($layout['name']); ?></option>';

	<?php } ?>

	html += '      </select></td>';

	html += '    </tr>';

	html += '    <tr>';

	html += '      <td><?php echo $entry_position; ?></td>';

	html += '      <td><select name="welcome_module[' + module_row + '][position]">';

	html += '        <option value="content_top"><?php echo $text_content_top; ?></option>';

	html += '        <option value="content_bottom"><?php echo $text_content_bottom; ?></option>';

	html += '        <option value="column_left"><?php echo $text_column_left; ?></option>';

	html += '        <option value="column_right"><?php echo $text_column_right; ?></option>';

	html += '      </select></td>';

	html += '    </tr>';

	html += '    <tr>';

	html += '      <td><?php echo $entry_status; ?></td>';

	html += '      <td><select name="welcome_module[' + module_row + '][status]">';

	html += '        <option value="1"><?php echo $text_enabled; ?></option>';

	html += '        <option value="0"><?php echo $text_disabled; ?></option>';

	html += '      </select></td>';

	html += '    </tr>';

	html += '    <tr>';

	html += '      <td><?php echo $entry_sort_order; ?></td>';

	html += '      <td><input type="text" name="welcome_module[' + module_row + '][sort_order]" value="" size="3" /></td>';

	html += '    </tr>';

	html += '  </table>';

	html += '</div>';



	$('#form').append(html);



	<?php foreach ($languages as $language) { ?>

	CKEDITOR.replace('description-' + module_row + '-<?php echo $language['language_id']; ?>', {

		filebrowserBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

		filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

		filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

		filebrowserUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

		filebrowserImageUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',

		filebrowserFlashUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>'

	});

	<?php } ?>



	$('#language-' + module_row + ' a').tabs();



	$('#module-add').before('<a href="#tab-module-' + module_row + '" id="module-' + module_row + '"><?php echo $tab_module; ?> ' + module_row + '&nbsp;<img src="view/image/delete.png" alt="" onclick="$(\'.vtabs a:first\').trigger(\'click\'); $(\'#module-' + module_row + '\').remove(); $(\'#tab-module-' + module_row + '\').remove(); return false;" /></a>');



	$('.vtabs a').tabs();



	$('#module-' + module_row).trigger('click');



	module_row++;

}

//--></script>

<script type="text/javascript"><!--

$('.vtabs a').tabs();

//--></script>

<script type="text/javascript"><!--

<?php $module_row = 1; ?>

<?php foreach ($modules as $module) { ?>

$('#language-<?php echo $module_row; ?> a').tabs();

<?php $module_row++; ?>

<?php } ?>

//--></script>

<?php echo $footer; ?>