.datepickerContainer {
  background-color: #121212;
  top: 10px;
  left: 10px;
}
.datepickerBorderT {
  display:block;
  position: absolute;
  left: 10px;
  top: 0;
  right: 10px;
  height: 10px;
  background: url(img/datepicker_t.png);
}
.datepickerBorderB {
  display:block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 10px;
  background: url(img/datepicker_b.png);
}
.datepickerBorderL {
  display:block;
  position: absolute;
  left: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(img/datepicker_l.png);
}
.datepickerBorderR {
  display:block;
  position: absolute;
  right: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(img/datepicker_r.png);
}
.datepickerBorderTL {
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(img/datepicker_tl.png);
}
.datepickerBorderTR {
  display:block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(img/datepicker_tr.png);
}
.datepickerBorderBL {
  display:block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(img/datepicker_bl.png);
}
.datepickerBorderBR {
  display:block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(img/datepicker_br.png);
}
div.datepicker a {
  color: #eeeeee;
}
div.datepicker th {
  color: #999999;
}
td.datepickerNotInMonth a {
  color: #666666;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
  color: #333333;
}
