<?php echo $header; ?>
<script src="view/javascript/mxUpload.js"></script>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/download.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
          <tr>
            <td><span class="required">*</span> <?php echo $entry_name; ?></td>
            <td><?php foreach ($languages as $language) { ?>
              <input type="text" id="desc" name="download_description[<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($download_description[$language['language_id']]) ? $download_description[$language['language_id']]['name'] : ''; ?>" />
              <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />
              <?php if (isset($error_name[$language['language_id']])) { ?>
              <span class="error"><?php echo $error_name[$language['language_id']]; ?></span><br />
              <?php } ?>
              <?php } ?></td>
          </tr>
          <tr>
            <td><?php echo $entry_filename; ?></td>
                        <!-- MX start -->
            <td><input type="text" name="filename" value="<?php echo $filename; ?>" />
                <a id="ubutton" class="button" onclick="document.getElementById('filepicker').click();">
                <?php echo $button_upload; ?></a>
                <input type="file" id="filepicker" style="display:none;" onchange="mxUpload();"/>
                <div id="mxprogress" style="display:none;"><?php echo $uploading; ?> <div id="progressbar" className="progressbar"></div></div>
            <!-- end -->

              <?php if ($error_filename) { ?>
              <span class="error"><?php echo $error_filename; ?></span>
              <?php } ?></td>
          </tr>
          <tr>
            <td><?php echo $entry_mask; ?></td>
            <td><input type="text" name="mask" value="<?php echo $mask; ?>" />
              <?php if ($error_mask) { ?>
              <span class="error"><?php echo $error_mask; ?></span>
              <?php } ?></td>
          </tr>
          <tr>
            <td><?php if (!isset($free_sample)) $free_sample='Free sample'; echo $free_sample; ?></td>
                <td><input type="checkbox" name="sample" value="1" onclick="document.getElementById('remaining').disabled=this.checked; if (this.checked) document.getElementById('remaining').value=''; else document.getElementById('remaining').value='100'; document.getElementsByName('update')[0].disabled=this.checked; document.getElementsByName('update')[0].checked=!this.checked;" <?php if (!$remaining) echo 'checked="checked"' ?> /></td>
<script type="text/javascript"><!--
	$(document).ready(function() {
		document.getElementsByName('update')[0].disabled=document.getElementsByName('sample')[0].checked; 
		document.getElementsByName('update')[0].checked=!document.getElementsByName('sample')[0].checked;
	});
//--></script>
            </tr>
          <tr>
            <td><?php echo $entry_remaining; ?></td>
            <td>
                  <input type="text" name="remaining" id="remaining" <?php if ($remaining) echo 'value="'.$remaining.'"'; else echo 'value="" disabled="true"'; ?> size="6" />
            </td>

          </tr>
          <?php if ($download_id) { ?>
          <tr>
            <td><?php echo $entry_update; ?></td>
            <td><?php if ($update) { ?>
              <input type="checkbox" name="update" value="1" checked="checked" />
              <?php } else { ?>
              <input type="checkbox" name="update" value="1" />
              <?php } ?></td>
          </tr>
          <?php } ?>
        </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="view/javascript/jquery/ajaxupload.js"></script> 
<script type="text/javascript"><!--
new AjaxUpload('#button-upload', {
	action: 'index.php?route=catalog/download/upload&token=<?php echo $token; ?>',
	name: 'file',
	autoSubmit: true,
	responseType: 'json',
	onSubmit: function(file, extension) {
		$('#button-upload').after('<img src="view/image/loading.gif" class="loading" style="padding-left: 5px;" />');
		$('#button-upload').attr('disabled', true);
	},
	onComplete: function(file, json) {
		$('#button-upload').attr('disabled', false);
		
		if (json['success']) {
			alert(json['success']);
			
			$('input[name=\'filename\']').attr('value', json['filename']);
			$('input[name=\'mask\']').attr('value', json['mask']);
		}
		
		if (json['error']) {
			alert(json['error']);
		}
		
		$('.loading').remove();	
	}
});
//--></script> 
<?php echo $footer; ?>