<!-- Auto Generated Module By HostJars http://opencart.hostjars.com -->
    <section style="background:#333;height:auto;padding-top:7px">
        <?php if(!$this->customer->isLogged()){ ?>
<h2 style="color:white;margin-bottom:16px;font-weight:bold;font-size:21px">
    Members Login Here
</h2>
        <input type="text" placeholder="Email" value="" id="front_email" class="form-control" />
        <input type="password" placeholder="Password" id="front_password" class="form-control" />
        <input type="button"  value="Login" onclick="front_login_form()" id="front-login" style="  width: 100%;
  background: #eb750e;
  color: white;
  margin-top: 10px;
  font-size: 17px;
  line-height: 0;
  font-weight: bold;" class="btn btn-success" />
        <a style="width:100%;text-decoration: underline;font-size:12px;color:#ffffff" href="index.php?route=account/forgotten">Forgot your password?</a>
        &nbsp;|&nbsp;<a style="text-decoration: underline;font-size:12px;color:#ffffff" href="register">Be a Member Now</a>
        <div style="margin-top:12px;padding:0px" class="col-xs-12">
            <div class="error" id="front_message"></div>
        </div>
        <?php }else{ ?>
        <h2 style="text-decoration: none">Welcome <?php echo $this->customer->getFirstName() ?></h2>
        <?php } ?>
        <br/>
        <br/>
        <a href="http://www.freebloghitcounter.com/" target="_blank"><img src="http://www.freebloghitcounter.com//counter.php?page=staging.cuticuti-malaysia.com&digits=4&unique=0" alt="free counter" border="0;"></a><br /> <a href="http://www.superjavahost.com/" target="_blank" style="text-decoration: none; font-size: 9px; font-family: Verdana; color: #000000">Total Visitors</a>
    </section>

<script>
    function front_login_form() {
        var data = {
            'email': $('#front_email').val(),
            'password': $('#front_password').val(),
            'json': 1
        };

        $('#front_message').html('');

        $.ajax({
            url: 'index.php?route=account/login',
            data: data,
            type: 'post',
            dataType: 'json',
            success: function (json) {
                if (json.status == 0) {

                    $('#front_message').html('Invalid Email or Password')
                } else {
                    window.location = "index.php?route=account/account";
                }
            },
        });

    }
</script>
<!-- /Auto Generated Module By HostJars http://opencart.hostjars.com -->