<?php if ($modules) { ?><div id="column-right" style="margin-top: 12px;">  <?php foreach ($modules as $module) { ?>  <?php echo $module; ?><div class="clearfix"></div>  <?php } ?></div><?php } ?>