<?php echo $header; ?>
<div class="row">
    <div class="<?php echo layout ?>">
   
    <div id="content" class="col-md-12">
        <section>
            <?php echo $text_message; ?>
        </section>
    </div>
    </div>
</div>
<br/>
<br/>
<br/>
<?php echo $footer; ?>